* {
    font-family: Roboto, sans-serif;
    
}
body {
    margin: 0;
}
img {
    max-width: 500px;
    min-width: none;
    border-radius: 15px;
}
.first-section-header-and-container {
    background-color: #1f2937;
    
}

.header .header-text {
    color: #e5e7e5;
    padding: 10px;
    margin: 50px 35px;
    flex: 1;
    font-size: 24px;
    
}

.header {

    font-size: 18px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:0;
    
    
}

.header a {
    text-decoration: none;
    color: #e5e7ebaf;
    padding: 20px;
    margin: 32px;
    flex: 1 ;
    
}



.first-section img {
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    width: 300px;
    padding: 20px 40px;
    

}

.first-section h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.first-section {
    display: flex;
    justify-content: center;
    padding: 40px 40px;
    margin: 20px;
    color: #e5e7e5;
}

.first-section button {
    background-color: #3882f6 ;
    color: #e5e7e5;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
}

.second-section  img {
    max-width: 300px;
    min-width: none;
    display: flex;
    flex-shrink: 3;
    border-radius: 15px;
}

.second-section h3 {
    display: flex;
    justify-content: center;
}

.second-section .item-container {
    display: flex;
    justify-content: space-around;
}

.second-section .item {
    flex-direction: column;
    justify-content: center;
    
}

.third-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;

}
.third-section .testimonial-content {
    font-size: 24px;
    color: #1f2937;
    font-weight: 300;
}

.third-section .testimonial-author {
    font-size: 20px;
    font-weight: 900;
    text-align: right;
    padding-right: 70px;
}



.container-blue {
    max-height: 100px;
    max-width: 700px;
    margin: 30px auto;
    background-color: #3882f6;
    color: white;
    padding: 30px 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
    border-radius: 15px;

}

.container-blue button {
    background-color: #3882f6;
    padding: 10px;
    color: white;
    font-weight: 800;
    border-radius: 4px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    min-height: 30px;
    color: white;
}

